// Tipografía.
$font-family: 'Poppins', sans-serif;
$font-size: 16px;

// Colores.
$red-400: hsl(0deg 100% 74%);
$green-400: hsl(154deg 59% 51%);
$purple-700: hsl(248deg 32% 49%);
$gray-900: hsl(249deg 10% 26%);
$purple-350: hsl(246deg 25% 77%);
$white: #fff;

// Dispositivos.
$mobile: 480px;
$desktop: 1440px;
